@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared style */
*{
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 800;
    font-size: 3rem;
}
p{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
}
a:hover{
    cursor: pointer;
}
.btn-pri , .btn-sec{
    background-color: rgb(255, 66, 165) ;
    color: white;
    border-radius: 44px;
    padding: 10px 20px;
    border: 0;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 25px;
    margin-right: 10px;
}
.btn-sec{
    background: #4EC5F7;
}

/* header style start */
.nav-container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px auto;
    height: 130px;
}
.nav-left{
    display: flex;
    gap: 20px;
}

#gamer{
    color: rgb(255, 66, 165);
}
.nav-right{
    display: flex;
}
.nav-container li{
    list-style: none;
    margin-left: 16px;
}
.nav-container a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 15px 20px;
  
}
#bg-gray{
    background-color: rgba(11, 2, 35, 0.3);
    border-radius: 8px;
}

/* header style end */


/* main style start */
.banner-container-bg{
     background-image: url(images/bbg.png);
    background-repeat: no-repeat; 
    object-fit: cover;
}
.banner-container{
    width: 85%;
    margin: 20px auto 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.banner-txt{
    width: 50%;
}
#banner-t-h1{
    background: linear-gradient(90deg, #F948B2 10%, #8758F1 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-txt p{
    margin-top: 10px;
}
.banner-img {
    width: 50%;
}
.banner-img img {
    width: 100%;
}


.banner2-container-bg{
    background-color: rgba(255, 66, 165, 0.04) ;
    padding-bottom: 40px;
}
.banner2-container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner2-container-img{
    width: 50%;
}
.banner2-container-img img{
    width: 80%;
}
.banner2-container-txt{
    width: 40%;
    text-align: right;
}
.banner2-container-txt h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}
.banner2-btn{
    margin-bottom: 10px;
    margin-right: 0;
}
    /*  card section style */
.card{
    width: 85%;
    margin: 0 auto;
}
.card-txt{
    text-align: center;
    margin: 40px auto 30px; 
}
#c-h-t{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-bottom: 30px;
}
.card-img img{
    width: 100%;
}
#card-img-part{
    position: relative;
}
#card-img-part>img{
    border: 3px solid transparent;
    border-radius: 14px;
}
#card-img-play{
   position:absolute;
   width: 20%;
   top: 130px;
   left: 100px;
    visibility: hidden;
    z-index: 2;
   
}
#card-img-part>img:hover{
    border: 3px solid #F948B2;
}
#card-img-part:hover #card-img-play{
     visibility: visible;
 }
 /* banner position style */
.banner-p-container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}
.banner-p-txt{
    width: 50%;
    text-align: right;
    position: relative ;
    right: 150px;
}
#banner-p-t-h2{
    background: linear-gradient(120deg, #F948B2 10%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-p-img{
    width: 50%;
}
.banner-p-img img{
    width: 100%;
}
#b-p-img2{
    width: 50%;
    border: 2px solid white;
    position: relative;
    top: -145px;
    right: 80px;
}
    /* game option style */
.game-option{
    background-color: rgba(255, 66, 165, 0.07);
    height: 250px;
    display: grid;
    align-items: center;
    margin-top: -100px;
}
.game-option-container{
    width: 85%;
    margin: 0 auto;
}
.game-option-rowa , .game-option-rowb{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    
}
.game-option-txt{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 50px;
    padding: 5px 10px;
    border: 1.5px solid transparent;
    transition: 0.5s;
}
.game-option-txt:hover{
   border: 1.5px solid rgb(255, 66, 165);
   color: rgb(255, 66, 165);
}
.game-option-txt img{
 width: 20%;
}


/* main style end */

/* footer style start */
footer{
    background-color: #0B0223;
}
.footer-container{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 130px;
    color: white;
}
.footer-link{
    display: flex;
    justify-content: center;
}
.footer-link li{
    list-style: none;
}
.footer-link li a{
    text-decoration: none;
    padding-right: 60px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer-icon ul{
    display: flex;
    margin: 30px auto;
    justify-content: center;
    gap: 50px
}
.footer-icon i{
 font-size: 2rem;
}
.footer-policy , .footer-copyright{
    display: flex;
    justify-content: center;
    gap: 55px;
    color: rgba(255, 255, 255, 0.60);
    margin-top: 28px;
    font-weight: 500px;
}

/* footer style end */